.Car {
  border: 1px solid #ccc;
  margin-Bottom: 10px;
  display: inline-block;
  padding: 10px;
}

.input {
  border-width: 2px;
  border-style: solid;
}
.input.green {
  border-color: green;
}
.input.red {
  border-color: red;
}